<template>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#nav4"
      aria-controls="nav4"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav4">
      <ul class="navbar-nav mr-auto">
        <router-link v-if="!isLoggedIn" to="/" tag="li" class="nav-item">
          <a class="nav-link">Login</a>
        </router-link>
        <router-link to="/swapi/species" tag="li" class="nav-item">
          <a class="nav-link">SWAPI Species</a>
        </router-link>
        <router-link to="/swapi/vehicles" tag="li" class="nav-item">
          <a class="nav-link">SWAPI Vehicles</a>
        </router-link>
        <router-link v-if="isLoggedIn" to="/home" tag="li" class="nav-item">
          <a class="nav-link">Meus dados</a>
        </router-link>
        <router-link v-if="isLoggedIn" to="/users" tag="li" class="nav-item">
          <a class="nav-link">Usuários cadastrados</a>
        </router-link>
      </ul>
      <span v-if="isLoggedIn">
        <button @click="logout" class="btn btn-outline-warning my-2 my-sm-0">Sair</button>
      </span>
    </div>
  </nav>
</template>
<script>
export default {
  name: "header-main",
  data() {
    return {};
  },
  computed: {
    isLoggedIn: function() {
      return this.$store.getters.isLoggedIn;
    }
  },
  methods: {
    logout() {
      var self = this;
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(() => {
        auth2.disconnect();
         this.$store.dispatch("logout").then(() => {
          this.$router.push("/");
        });
      });
    },
  }
};
</script>
<style>
</style>
