<template>
  <div class="container p-5">
    <div class="row">
      <button @click="teste">Teste</button>
      <div class="col-md-12">
        <div class="mb-4">
          <h4 class="mb-3 font-weight-normal">Usuários cadastrados</h4>
        </div>
        <div v-if="users" class="row">
          <div class="col-md-4 mb-2" v-for="user in users" v-bind:key="user.email">
            <div class="userInfo">
              <h6>Nome: {{user.name}}</h6>
              <h6>Email: {{user.email}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Main",
  data() {
    return {
      users: null
    };
  },
  mounted() {
    this.$http.defaults.headers.common;
    this.$http
      .get("http://localhost:3000/user/getAll")
      .then(response => (this.users = response.data.users));
  },
  methods: {
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  height: 80vh;
}
.userInfo {
  padding: 20px;
  background-color: #e8e8e8;
  border-radius: 10px;
}
</style>
