<template>
  <div class="container p-5">
    <div class="row">
      <div class="col-md-12">
        <div v-if="user" class="mb-4">
          <h4 class="mb-3 font-weight-normal">Suas informações</h4>
          <h6>Nome: {{user.name}}</h6>
          <h6>Email: {{user.email}}</h6>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Main",
  data() {
    return {
      user : null,
    };
  },
  mounted () {
    this.$http.defaults.headers.common
    this.$http.get('http://localhost:3000/user/get')
      .then(response => (this.user = response.data.user));
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  height: 80vh;
}
</style>
