<template>
  <div class="container p-5">
    <div class="row">
      <div class="col-md-12">
        <div v-if="species" class="mb-4">
           <h3>SWAPI Species</h3>
          <div class="row">
            <div v-for="specie in species" class="col-md-4" v-bind:key="specie.name">
              <div class="specie m-1">
                <h6>Name: {{ specie.name }}</h6>
                <h6>Classification: {{ specie.classification }}</h6>
                <h6>Designation: {{ specie.designation }}</h6>
                <h6>Language:{{ specie.language }}</h6>
                <router-link :to="{ name: 'Specie', params: { id: setId(specie.url) } }">Read more</router-link>
              </div>
            </div>
          </div>
        </div>
        <div v-else class="mb-4 text-center">
          <img class="width: 30px" src="../../../assets/spin.gif" alt />
        </div>
        <div v-if="pages">
          <div class="row justify-content-center">
            <div @click="setPage(n)" class="numberPage" v-for="n in pages" v-bind:key="n">
              <span>{{ n }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getAllSpecies } from "../../../SwapiService";
export default {
  name: "Main",
  data() {
    return {
      species: null,
      pages: null
    };
  },
  mounted() {
    getAllSpecies()
      .then(response => response.data)
      .then(data => {
        this.species = data.results;
        this.pages = parseInt(data.count / 10) + 1;
        return data.data;
      });
  },
  methods: {
    setPage(pageNumber) {
      this.species = null;
      getAllSpecies(pageNumber)
        .then(response => response.data)
        .then(data => {
          this.species = data.results;
          return data.data;
        });
    },
    setId(string) {
      return string.split("/").slice(-2)[0];
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  height: 80vh;
}
.numberPage {
  padding: 5px 10px;
  background-color: #bdbdbd;
  margin-right: 5px;
  cursor: pointer;
}
.specie {
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 10px;
}
</style>
