<template>
  <div class="container p-5">
    <div class="row">
      <div class="col-md-12">
        <div v-if="specie" class="mb-4">
            <h3>Specie - {{ specie.name }}</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="specie m-1">
                <h6>Name: {{ specie.name }}</h6>
                <h6>Classification: {{ specie.classification }}</h6>
                <h6>Designation: {{ specie.designation }}</h6>
                <h6>Language: {{ specie.language }}</h6>
                <div v-if="people">
                  <h6>People:</h6>
                  <h6 v-for="item in people" v-bind:key="item.name">{{item.name}}</h6>
                </div>
                <div  v-if="films">
                  <h6>Films:</h6>
                  <h6 v-for="item in films" v-bind:key="item.title">{{item.title}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else class="mb-4 text-center">
          <img class="width: 30px" src="../../../assets/spin.gif" alt />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getSpecie, getPeople, getFilm } from "../../../SwapiService";
export default {
  props: ["id"],
  name: "Specie",
  data() {
    return {
      specie: null,
      people: [],
      films: []
    };
  },
  mounted() {
    getSpecie(this.id)
      .then(response => response.data)
      .then(data => {
        this.specie = data;
        this.setPeople(data.people);
        this.setFilms(data.films);
        return data.data;
      });
  },
  methods: {
    setId(string) {
      return string.split("/").slice(-2)[0];
    },
    setPeople(array) {
      array.forEach(element => {
        getPeople(this.setId(element))
          .then(response => response.data)
          .then(data => {
            this.people.push(data);
            return data.data;
          });
      });
    },
    setFilms(array) {
      array.forEach(element => {
        getFilm(this.setId(element))
          .then(response => response.data)
          .then(data => {
            this.films.push(data);
            return data.data;
          });
      });
    }
  }
};
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  height: 80vh;
}

.specie {
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 10px;
}
</style>
