<template>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Front-vue</span>
      </div>
    </footer>
</template>
<script>
export default {}
</script>
<style scoped>
.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
</style>
