<template>
  <div class="container content">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-4">
        <div class="text-center mb-4">
          <h4 class="mb-3 font-weight-normal">Efetue o login através do google</h4>
        </div>
        <div id="google-signin-btn"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Main",
  data() {
    return {
      msg: "Welcome to Your Vue.js App"
    };
  },

  methods: {
    onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      var name = profile.getName();
      var email = profile.getEmail();
      var token = googleUser.getAuthResponse().id_token;
      this.$store.dispatch('login', { name, email, token })
       .then(() => this.$router.push('/home'))
       .catch(err => console.log(err))
    }
  },
    mounted() {
    gapi.signin2.render("google-signin-btn", {
      onsuccess: this.onSignIn
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  height: 80vh;
}
</style>
