<template>
  <div class="container p-5">
    <div class="row">
      <div class="col-md-12">
        <div v-if="vehicles" class="mb-4">
          <h3>SWAPI Vehicles</h3>
          <div class="row">
            <div v-for="vehicle in vehicles" class="col-md-4" v-bind:key="vehicle.name">
              <div class="vehicle m-1">
                <h6>Name: {{ vehicle.name }}</h6>
                <h6>Model: {{ vehicle.model }}</h6>
                <h6>Length: {{ vehicle.length }}</h6>
                <h6>Class: {{ vehicle.vehicle_class }}</h6>
                <router-link :to="{ name: 'Vehicle', params: { id: setId(vehicle.url) } }">Read more</router-link>
              </div>
            </div>
          </div>
        </div>
         <div v-else class="mb-4 text-center">
         <img class="width: 30px" src="../../../assets/spin.gif" alt="">
        </div>
        <div v-if="pages">
          <div class="row justify-content-center">
            <div @click="setPage(n)" class="numberPage" v-for="n in pages" v-bind:key="n">
              <span>{{ n }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getAllVehicles } from "../../../SwapiService";
export default {
  name: "Main",
  data() {
    return {
      vehicles: null,
      pages: null
    };
  },
  mounted() {
    getAllVehicles()
      .then(response => response.data)
      .then(data => {
        this.vehicles = data.results;
        this.pages = parseInt(data.count / 10) + 1;
        return data.data;
      });
  },
  methods: {
     setId(string) {
      return string.split("/").slice(-2)[0];
    },
    setPage(pageNumber) {
      this.vehicles = null;
      getAllVehicles(pageNumber)
        .then(response => response.data)
        .then(data => {
          this.vehicles = data.results;
          return data.data;
        });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  height: 80vh;
}
.numberPage {
  padding: 5px 10px;
  background-color: #bdbdbd;
  margin-right: 5px;
  cursor: pointer;
}
.vehicle {
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 10px;
}
</style>
