<template>
  <div class="container p-5">
    <div class="row">
      <div class="col-md-12">
        <div v-if="vehicle" class="mb-4">
          <h3>SWAPI Vehicle -  {{ vehicle.name }}</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="vehicle m-1 ">
                <h6>Name: {{ vehicle.name }}</h6>
                <h6>Model: {{ vehicle.model }}</h6>
                <h6>Length: {{ vehicle.length }}</h6>
                <h6>Class: {{ vehicle.vehicle_class }}</h6>
                <div v-if="films">
                  <h6>Films:</h6>
                  <h6 v-for="item in films" v-bind:key="item.title">{{item.title}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else class="mb-4 text-center">
          <img class="width: 30px" src="../../../assets/spin.gif" alt />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getFilm, getVehicle } from "../../../SwapiService";
export default {
  props: ["id"],
  name: "Vehicle",
  data() {
    return {
      vehicle: null,
      films: []
    };
  },
  mounted() {
    getVehicle(this.id)
      .then(response => response.data)
      .then(data => {
        this.vehicle = data;
        this.setFilms(data.films);
        return data.data;
      });
  },
  methods: {
    setId(string) {
      return string.split("/").slice(-2)[0];
    },

    setFilms(array) {
      array.forEach(element => {
        if (array.length > 0) {
          getFilm(this.setId(element))
            .then(response => response.data)
            .then(data => {
              this.films.push(data);
              return data.data;
            });
        }
      });
    }
  }
};
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content {
  height: 80vh;
}

.vehicle {
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 10px;
}
</style>
